/*-- author_page_sec_1 --*/
/*  column_1_css */
.author_pg_sec_1 .sec_1_author_container {
  gap: 4.5rem;
}
.author_pg_sec_1 .author_profile_wrapper {
  max-width: 662px;
  width: 100%;
  justify-content: space-between;
  gap: 1rem;
}
.author_pg_sec_1 .author_profile_wrapper .author_img img {
  width: 160px;
  height: 160px;
}
.author_pg_sec_1 .author_profile_wrapper .col_author_info {
  gap: 0.5rem;
  align-items: flex-start;
  justify-content: center;
}
.author_pg_sec_1 .author_profile_wrapper .col_author_info h1 > a,
.author_pg_sec_1 .author_profile_wrapper .col_author_info p {
  color: var(--secondary_heading_clr);
}
.author_pg_sec_1 .author_profile_wrapper .col_author_info span a {
  color: var(--sub_heading_clr);
  font-weight: 300;
  opacity: 33%;
}
.author_pg_sec_1 .author_profile_wrapper .col_author_info p {
  font-size: 0.813rem;
}
.author_pg_sec_1 .author_profile_wrapper .auth_social_links {
  width: 100%;
  align-items: center;
  gap: 1.25rem;
  padding-top: 0.2rem;
}

/*  column_2_css */
.author_pg_sec_1 .abt_art_arc_wrapper {
  gap: 1.75rem;
}
.author_pg_sec_1 .heading_wrap,
.author_pg_sec_2 .heading_wrap,
.author_pg_sec_3 .heading_wrap {
  width: 100%;
  align-items: center;
  gap: 2rem;
  border-bottom: 1px solid #0000001a;
  padding-bottom: 0.5rem;
  position: relative;
}
.author_pg_sec_1 .heading_wrap span:first-child {
  color: var(--orange_btn_clr);
  font-size: 1.25rem;
  font-weight: 600;
  cursor: pointer;
}
.author_pg_sec_1 .heading_wrap span:not(first) {
  color: var(--light_grey_para_clr);
  font-size: 1.25rem;
  font-weight: 600;
  cursor: pointer;
}
.author_pg_sec_1 .heading_wrap span::before,
.author_pg_sec_2 .heading_wrap span::before,
.author_pg_sec_3 .heading_wrap span::before {
  content: "";
  width: 64px;
  height: 2px;
  background-color: var(--secondary_blue_clr);
  position: absolute;
  transform: translate(0%, -50%);
  bottom: -5%;
  left: 0;
  border-radius: 1px;
}
.author_pg_sec_1 .abt_art_arc_wrapper p {
  color: var(--secondary_heading_clr);
}

/*  column_3_css */
.author_pg_sec_1 .achievements_wrap,
.author_pg_sec_1 .area_expertise_wrap,
.author_pg_sec_1 .other_article_wrap {
  gap: 1.25rem !important;
}
.author_pg_sec_1 .achievements_wrap span,
.author_pg_sec_1 .area_expertise_wrap span,
.author_pg_sec_1 .other_article_wrap span {
  color: var(--sub_heading_clr);
  border-bottom: 1px solid #0000001a;
  padding-bottom: 0.5rem;
  font-size: 1.5rem;
  font-weight: 600;
}
.author_pg_sec_1 .inner_list ul {
  margin-left: 1.5rem;
}
.author_pg_sec_1 .inner_list ul li {
  color: var(--secondary_heading_clr);
  list-style: auto;
  padding: 0.4rem;
}

/*  column_4_css */
.author_pg_sec_1 .area_expertise_wrap p {
  color: var(--secondary_heading_clr);
}
/*  column_5_css */
.author_pg_sec_1 .inner_article_list ul li {
  color: var(--sub_heading_clr);
  opacity: 88%;
  list-style: none;
  padding: 0.4rem;
}
.author_pg_sec_1 .inner_article_list ul li a {
  color: var(--blue_heading_clr);
  font-weight: 300;
}
/*  column_6_css */
.author_pg_sec_1 .area_expertise_wrap p > a {
  color: var(--blue_heading_clr);
}

/*-- author_page_sec_2 --*/
/* global_blog_posts (from_hero_sec_blog_page) CSS*/
.author_pg_sec_2 .blog_card_wrapper {
  grid-template-columns: repeat(4, 1fr);
  width: 100%;
  gap: 3rem 1rem;
  padding-block: 0.5rem;
}
/* .author_pg_sec_2 .heading_wrap {
    position: relative;
  } */
.author_pg_sec_2 .heading_wrap {
  margin-bottom: 3rem;
}
.author_pg_sec_2 .heading_wrap span:nth-child(even) {
  color: var(--orange_btn_clr);
  font-size: 1.25rem;
  font-weight: 600;
}
.author_pg_sec_2 .heading_wrap span:nth-child(odd) {
  color: var(--light_grey_para_clr);
  font-size: 1.25rem;
  font-weight: 600;
}

.author_pg_sec_2 .heading_wrap span::before {
  width: 70px;
  left: 6%;
}
/*-- author_page_sec_3 --*/
.author_pg_sec_3 .heading_wrap {
  margin-bottom: 3rem;
}
.author_pg_sec_3 .heading_wrap span:nth-child(1),
.author_pg_sec_3 .heading_wrap span:nth-child(2) {
  color: var(--light_grey_para_clr);
  font-size: 1.25rem;
  font-weight: 600;
}
.author_pg_sec_3 .heading_wrap span:nth-child(3) {
  color: var(--orange_btn_clr);
  font-size: 1.25rem;
  font-weight: 600;
}
.author_pg_sec_3 .heading_wrap span::before {
  width: 78px;
  left: 13%;
}
/* bottom_content l_column_css */
.author_pg_sec_3 .inner_cont_wrapper {
  justify-content: space-between;
}
.author_pg_sec_3 .inner_cont_wrapper .l_col {
  width: 45%;
  background: none;
  gap: 1rem;
}
.author_pg_sec_3 .l_col .inner_content a {
  color: var(--blue_heading_clr);
  padding-top: 0.5rem;
}
/* bottom_content r_column_css */
.author_pg_sec_3 .inner_cont_wrapper .r_col {
  width: 48%;
  gap: 2.25rem;
}
.author_pg_sec_3 .inner_cont_wrapper .r_col > span {
  max-width: 490px;
  width: 100%;
  color: var(--sub_heading_clr);
  border-bottom: 1px solid #0000001a;
  padding-bottom: 1rem;
  font-size: 1.5rem;
  font-weight: 600;
}

@media screen and (max-width: 480px) {
  .author_pg_sec_1 .heading_wrap span:first-child,
  .author_pg_sec_1 .heading_wrap span:not(first),
  .author_pg_sec_2 .heading_wrap span:nth-child(even),
  .author_pg_sec_2 .heading_wrap span:nth-child(odd),
  .author_pg_sec_3 .heading_wrap span:nth-child(1),
  .author_pg_sec_3 .heading_wrap span:nth-child(2),
  .author_pg_sec_3 .heading_wrap span:nth-child(3) {
    font-size: 1rem;
  }
  .author_pg_sec_1 .author_profile_wrapper .author_img img {
    width: 122px;
    height: 122px;
  }
  .author_pg_sec_1 .sec_1_author_container {
    gap: 2.5rem;
  }
  .author_pg_sec_1 .achievements_wrap span,
  .author_pg_sec_1 .area_expertise_wrap span,
  .author_pg_sec_1 .other_article_wrap span {
    font-size: 1rem;
  }
  .author_pg_sec_1 .inner_list ul li,
  .author_pg_sec_1 .inner_article_list ul li {
    font-size: 0.75rem;
  }
  .author_pg_sec_2 .heading_wrap,
  .author_pg_sec_3 .heading_wrap {
    margin-bottom: 1rem;
  }
  .author_pg_sec_2 .blog_card_wrapper {
    grid-template-columns: repeat(1, 1fr);
  }
  .author_pg_sec_2 .heading_wrap span::before {
    /* left: 20%; */
    left: 4rem;
  }
  .author_pg_sec_3 .heading_wrap span::before {
    /* left: 45%; */
    left: 10rem;
  }
  .author_pg_sec_3 .inner_cont_wrapper {
    flex-direction: column;
    gap: 3rem;
  }
  .author_pg_sec_3 .inner_cont_wrapper .l_col {
    width: 100%;
  }
  .author_pg_sec_3 .inner_cont_wrapper .r_col {
    width: 100%;
  }
}
