/*-------- blog_page_section_1 start --------*/
.mobile_filter {
  display: none;
}

.blog_page_sec_1 .blog_sec_1_container h1 {
  text-align: center;
  color: var(--sub_heading_clr);
}
.blog_page_sec_1 .inner_list_bar {
  background-color: var(--secondary_blue_clr);
  align-items: center;
  justify-content: flex-start;
  gap: 5rem;
  border-radius: 5px;
  overflow-x: auto;
}
.blog_page_sec_1 .blog_sec_1_container {
  gap: 3rem;
}
.blog_page_sec_1 .view_all_btn button {
  width: 6rem;
  height: 3rem;
  margin: 0.4rem;
}

.blog_page_sec_1 .inner_list_bar ul {
  list-style: none;
  gap: 4rem;
}
.blog_page_sec_1 .inner_list_bar ul li a {
  color: var(--solid_white_clr);
  text-decoration: none;
}

/* hero_sec_blog_cards CSS*/
.blog_page_sec_1 .blog_card_wrapper {
  grid-template-columns: repeat(4, 1fr);
  width: 100%;
  gap: 3rem 1rem;
  padding-block: 0.5rem;
}

.blog_page_sec_1 .pagination_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  padding-top: 2rem;
  border-top: 1px solid #eaecf0;
}
.blog_page_sec_1 .pagination_num {
  text-align: center;
}
.blog_page_sec_1 .pagination {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
  list-style: none;
}
.blog_page_sec_1 .pagination a {
  color: var(--light_grey_para_clr);
}
.blog_page_sec_1 .page_item_btn a {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.blog_page_sec_1 .pagination .page_item a {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.blog_page_sec_1 .pagination .page_item:first-child a {
  background-color: #f9f5ff;
  border-radius: 8px;
  color: var(--primary_blue_clr);
}
.blog_page_sec_1 .prev_btn .page_item_btn:first-child a {
  color: var(--light_grey_para_clr);
}
.blog_page_sec_1 .next_btn .page_item_btn:last-child a {
  color: var(--primary_blue_clr);
}

/*-------- blog_page_section_1 end --------*/

@media screen and (max-width: 480px) {
  .blog_page_sec_1 .inner_list_bar {
    display: none;
  }
  .mobile_filter {
    display: flex;
  }
  .mobile_filter .mobile_list_bar {
    display: none;
  }
  .mobile_filter .mobile_list_bar.active {
    display: flex;
  }
  .mobile_filter .arrow_down.rotate {
    transform: rotate(180deg);
    transition: transform 0.3s ease-in-out;
  }
  .mobile_list_bar ul {
    list-style: none;
    gap: 0.75rem;
    padding-top: 1rem;
  }
  .mobile_list_bar ul li a {
    color: var(--secondary_blue_clr);
  }

  .blog_page_sec_1 .blog_card_wrapper {
    grid-template-columns: repeat(1, 1fr);
  }
  .blog_page_sec_1 .blog_sec_1_container {
  gap: 1.5rem;
  }
  .mobile_filter .filter_btn {
    width: 88px;
    height: 36px;
    justify-content: space-between;
    padding: 0.5rem;
    border: 1px solid var(--orange_btn_clr);
  }
  .mobile_filter .filter_btn span {
    color: var(--primary_blue_clr);
  }

  .blog_page_sec_1 .pagination .page_item a {
    width: 30px;
    height: 30px;
  }
  .blog_page_sec_1 .pagination {
    gap: 0rem;
  }
  .blog_page_sec_1 .page_item_btn a {
    font-size: 0.75rem;
  }
}
