/*-------- hero_section_1 start --------*/
.index_hero_section_1 .hero_sec_container {
  /* min-height: 853px; */
  height: 100%;
  width: 100%;
  display: grid;
  grid-gap: 1rem;
  grid-template-areas:
    "a1 a1 a3"
    "a1 a1 a3"
    "a1 a1 a4"
    "a2 a2 a4"
    "a2 a2 a5"
    "a2 a2 a5";
}

.index_hero_section_1 .hero_sec_container .grid_item:nth-of-type(1) {
  grid-area: a1;
}

.index_hero_section_1 .hero_sec_container .grid_item:nth-of-type(2) {
  grid-area: a2;
}

.index_hero_section_1 .hero_sec_container .grid_item:nth-of-type(3) {
  grid-area: a3;
}

.index_hero_section_1 .hero_sec_container .grid_item:nth-of-type(4) {
  grid-area: a4;
}

.index_hero_section_1 .hero_sec_container .grid_item:nth-of-type(5) {
  grid-area: a5;
}

.index_hero_section_1 .hero_sec_container .grid_item {
  filter: brightness(1);
  transition: filter 0.3s ease;
}

.index_hero_section_1 .hero_sec_container .grid_item:hover {
  filter: brightness(0.85);
}
.index_hero_section_1 .grid_item .img_bg a {
  width: 100%;
}

.index_hero_section_1 .grid_item {
  position: relative;
}
.index_hero_section_1 .overlay_txt_wrap {
  color: var(--solid_white_clr);
  padding: 2rem;
  justify-content: flex-end;
  align-items: baseline;
  /* height: 100%; */
  gap: 0.5rem;
  position: absolute;
  bottom: 0;
  transform: translate(0px, 10px);
}
.index_hero_section_1 .overlay_txt_wrap > span.left_span {
  font-size: 2rem;
  font-weight: 600;
}
.index_hero_section_1 .overlay_txt_wrap > span.ryt_span {
  font-size: 1.5rem;
  font-weight: 600;
}
.index_hero_section_1 .col_1_txt {
  background-color: var(--orange_btn_clr);
  width: 66px;
  height: 30px;
  cursor: default;
}

.index_hero_section_1 .hero_author_info {
  align-items: center;
  gap: 1rem;
  color: var(--solid_white_clr);
}

.index_hero_section_1 .hero_author_info span:nth-child(1) {
  font-size: 1rem;
  font-weight: 400;
}

/*-------- hero_section_1 end --------*/

/*-------- index_section_2 start--------*/
.index_section_2 .feature_categ_container {
  gap: 3rem;
}

.index_section_2 .feature_categ_container h3 {
  text-align: center;
  color: var(--primary_heading_clr);
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-decoration-skip-ink: none;
}
.index_section_2 .inner_txt_wrapper {
  position: relative;
  justify-content: space-between;
  gap: 1rem;
}
.index_section_2 .inner_txt_wrapper .txt_ovr_img {
  height: 100%;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  filter: brightness(1);
  transition: filter 0.3s ease;
}
.index_section_2 .inner_txt_wrapper .txt_ovr_img:hover {
  filter: brightness(0.5);
}
.index_section_2 .inner_txt_wrapper .txt_ovr_img span {
  color: var(--solid_white_clr);
  font-size: 1.5rem;
  font-weight: 400;
  position: absolute;
  transform: translate(0, 50%);
}

/*-------- index_section_2 end --------*/

/* mobile_css start */
@media screen and (max-width: 480px) {
  .index_hero_section_1 .hero_sec_container {
    display: grid;
    grid-gap: 1rem;
    grid-template-areas:
      "a1 a1 a1 a1"
      "a1 a1 a1 a1"
      "a3 a3 a4 a4"
      "a3 a3 a4 a4"
      "a3 a3 a4 a4"
      "a2 a2 a2 a2"
      "a2 a2 a2 a2"
      "a5 a5 a5 a5"
      "a5 a5 a5 a5";
  }

  .index_hero_section_1 .overlay_txt_wrap {
    padding: 0 1rem 1.5rem 1rem;
  }
  .index_hero_section_1 .overlay_txt_wrap > span.ryt_span {
    font-size: 0.875rem;
  }
  .index_hero_section_1 .overlay_txt_wrap > span.left_span {
    font-size: 1.25rem;
  }
  .index_section_2 .inner_txt_wrapper{
    flex-direction: column;
  }
  .index_section_2 .inner_txt_wrapper .img_bg,
  .index_section_2 .inner_txt_wrapper .img_bg a {
    width: 100%;
  }

}
