/*-- single_blg_pg_sec_1 start --*/
.single_blg_pge_sec_1 .sec_1_container {
  gap: 1.5rem;
}
.single_blg_pge_sec_1 .sec_1_container h1 {
  color: var(--sub_heading_clr);
  text-align: center;
}
.single_blg_pge_sec_1 .sec_1_container h1 > span {
  color: #dedede;
}
.single_blg_pge_sec_1 .sec_1_container p {
  color: var(--light_grey_para_clr);
  text-align: center;
}
.single_blg_pge_sec_1 .calender_nd_author_wrapper {
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
.single_blg_pge_sec_1 .inner_col_1 {
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
}
/*-- single_blg_pg_sec_1 end --*/

/*-- single_blg_pg_sec_2 start --*/
.single_blg_pge_sec_2 {
  gap: 1rem;
}
.single_blg_pge_sec_2 .sec_2_container {
  justify-content: space-between;
}
.single_blg_pge_sec_2 .l_col_wrapper {
  /* width: 26%; */
  width: 30%;
  gap: 8rem;
}
.single_blg_pge_sec_2 .r_col_wrapper {
  width: 65%;
  padding-right: 1rem;
  gap: 3.5rem;
}
.single_blg_pge_sec_2 .l_col_wrapper span {
  color: var(--secondary_heading_clr);
  position: relative;
  font-size: 1.5rem;
  font-weight: 600;
}
.heading_summary {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}
.heading_summary hr {
  width: 60%;
  height: 1px;
  background-color: #0000001a;
  border: none;
}
.single_blg_pge_sec_2 .l_col_wrapper .inner_summary_wrapper {
  gap: 2rem;
}

.single_blg_pge_sec_2 .l_col_wrapper .list_summary {
  margin-left: 1.3rem;
}
.single_blg_pge_sec_2 .list_summary ul {
  list-style: auto !important;
  display: flex;
  align-items: center;
  gap: 1rem;
  padding-bottom: 1rem;
  position: relative;
}
.single_blg_pge_sec_2 .list_summary ul::before {
  content: "";
  width: 194px;
  height: 2px;
  background-color: #0000001a;
  position: absolute;
  transform: translate(0%, -50%);
  bottom: 10%;
  left: 0;
}
.single_blg_pge_sec_2 .list_summary ul::after {
  content: "";
  width: 100px;
  height: 2px;
  background-color: #4657a1;
  position: absolute;
  transform: translate(0%, -50%);
  bottom: 10%;
  left: 0;
}
.single_blg_pge_sec_2 .list_summary ul li {
  font-size: 1.125rem;
  color: var(--orange_btn_clr);
  padding-block: 0.5rem;
}

.single_blg_pge_sec_2 .list_summary ol li {
  padding-block: 0.5rem;
  color: var(--light_grey_para_clr);
}

.single_blg_pge_sec_2 .social_links {
  border-top: 1px solid #0000001a;
  padding-top: 2rem;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  margin-right: 2rem;
}
.single_blg_pge_sec_2 .links_icon {
  gap: 0.5rem;
}
.single_blg_pge_sec_2 .links_icon a,
.single_blg_pge_sec_2 .bookmark_grey a {
  filter: brightness(1%);
  opacity: 52%;
}
.single_blg_pge_sec_2 .links_icon a:hover,
.single_blg_pge_sec_2 .bookmark_grey a:hover {
  filter: brightness(1);
  opacity: 1;
}
.single_blg_pge_sec_2 .bookmark_grey {
  padding-right: 3rem;
}

/* related_article_css_ */
.single_blg_pge_sec_2 .l_col_wrapper .related_article {
  gap: 1rem;
}
.heading_rel_article {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.heading_rel_article hr {
  width: 40%;
  height: 1px;
  background-color: #0000001a;
  border: none;
}

.single_blg_pge_sec_2 .rel_article_list {
  margin-left: 1.5rem;
}
.single_blg_pge_sec_2 .rel_article_list ul li a,
.single_blg_pge_sec_2 .rel_article_list ul li {
  color: var(--primary_blue_clr);
  padding-block: 0.3rem;
}

/*------ right_col start ------*/
/* inner_col_1 */
.single_blg_pge_sec_2 .r_col_wrapper .inner_col_1 {
  gap: 1.5rem;
  border-bottom: 2px solid #d9d9d9;
  padding-bottom: 3rem;
}
.single_blg_pge_sec_2 .r_col_wrapper .img_1 {
  transition: filter 0.3s ease;
}
.single_blg_pge_sec_2 .r_col_wrapper .img_1:hover {
  filter: brightness(0.85);
}
.single_blg_pge_sec_2 .r_col_wrapper .inner_col_1 .heading_col_wrapper {
  gap: 0.75rem;
}
.single_blg_pge_sec_2 .r_col_wrapper .inner_col_1 .heading_col_wrapper h3 {
  font-weight: 700;
  color: var(--sub_heading_clr);
}
.single_blg_pge_sec_2 .r_col_wrapper h4,
.single_blg_pge_sec_2 .r_col_wrapper .inner_col_1 .heading_col_wrapper h5 {
  color: var(--light_grey_para_clr);
}
.single_blg_pge_sec_2 .r_col_wrapper .inner_col_1 .heading_col_wrapper h6 {
  color: #767676;
  font-weight: 400;
}
.single_blg_pge_sec_2 .r_col_wrapper p {
  color: var(--light_grey_para_clr);
}
.single_blg_pge_sec_2 .r_col_wrapper .inner_col_1 h4 {
  color: var(--light_grey_para_clr);
}
/* global_used_col_1_col_2 start */
.single_blg_pge_sec_2 .r_col_1_list {
  padding-top: 1.125rem;
}
.single_blg_pge_sec_2 .r_col_wrapper .r_col_1_list ul:not(p) {
  margin-left: 1.3rem;
}
.single_blg_pge_sec_2 .r_col_wrapper .r_col_1_list ul li {
  padding-block: 0.3rem;
  list-style: auto;
  color: #767676;
}
.single_blg_pge_sec_2 .r_col_wrapper .r_col_1_list ul li > span {
  font-weight: 600;
}
.single_blg_pge_sec_2 .r_col_wrapper .r_col_1_list ul li::marker {
  color: var(--primary_blue_clr);
}
.single_blg_pge_sec_2 .r_col_wrapper .r_col_1_list p {
  padding-block: 0.3rem;
}
.single_blg_pge_sec_2 .r_col_wrapper .r_col_1_list p > a {
  color: var(--primary_blue_clr);
  text-decoration: none;
}
/* global_used_col_1_col_2 end */

/* inner_col_2 */
.single_blg_pge_sec_2 .r_col_wrapper .inner_col_2 {
  gap: 1.5rem;
  border-bottom: 2px solid #d9d9d9;
  padding-bottom: 3rem;
}
.single_blg_pge_sec_2 .r_col_wrapper .inner_col_2 h3 {
  font-weight: 700;
  color: var(--sub_heading_clr);
}
.single_blg_pge_sec_2 .grey_para_wrapper {
  background-color: #f1f1f1;
  padding: 1.25rem 1.5rem;
  border-radius: 5px;
}
.single_blg_pge_sec_2 .grey_para_wrapper p {
  color: #b7b7b7 !important;
}

.single_blg_pge_sec_2 .r_col_2_list {
  padding-top: 0;
}
.single_blg_pge_sec_2 .r_col_wrapper .r_col_2_list ul li {
  list-style: disc;
}

/* -- inner_col_3_reviews -- */
.single_blg_pge_sec_2 .r_col_wrapper .inner_col_3 {
  gap: 1.5rem;
  border-bottom: 2px solid #d9d9d9;
  padding-bottom: 3rem;
  justify-content: space-between;
}
.single_blg_pge_sec_2 .r_col_wrapper .inner_col_3 .review_card {
  width: 47%;
  padding: 1.125rem 1.25rem;
  border: 1px solid #e3e3e3;
  gap: 1rem;
}
.single_blg_pge_sec_2 .inner_col_3 .card_head_wrapper {
  align-items: flex-start;
  justify-content: space-between;
  gap: 1rem;
}
.single_blg_pge_sec_2 .inner_col_3 .left_content {
  align-items: flex-start;
  gap: 0.5rem;
}
.single_blg_pge_sec_2 .inner_col_3 .left_content a > img {
  width: 49px;
  height: 49px;
}
.single_blg_pge_sec_2
  .r_col_wrapper
  .inner_col_3
  .review_card
  .name_stars_wrap
  span
  a {
  color: #232323;
  padding-bottom: 0.3rem;
  font-size: 1rem;
  font-weight: 600;
}
.single_blg_pge_sec_2 .r_col_wrapper .review_card .review_btn {
  width: 8rem;
  height: 3rem;
}

/* -- inner_col_4_faq -- */
.single_blg_pge_sec_2 .r_col_wrapper .inner_col_4 {
  gap: 1.5rem;
  background: none;
  border-bottom: 2px solid #d9d9d9;
  padding-bottom: 3rem;
}
.single_blg_pge_sec_2 .r_col_wrapper .inner_col_4 .inner_faq_accordion_wrapper {
  background-color: #f6f6f6;
  border: 1px solid #d3d3d3;
  gap: 0;
  padding: 2rem 4rem;
}
.single_blg_pge_sec_2 .r_col_wrapper .inner_col_4 h3,
.single_blg_pge_sec_2 .r_col_wrapper .inner_col_5 h3 {
  color: var(--sub_heading_clr);
  font-weight: 700;
}
.single_blg_pge_sec_2 .r_col_wrapper .inner_col_4 .accordion_card {
  background: none;
  border: none;
  padding: 1rem 0rem;
}

.single_blg_pge_sec_2 .r_col_wrapper .inner_col_5 {
  gap: 1.5rem;
}

.single_blg_pge_sec_2 .r_col_wrapper .comments_wrapper {
  gap: 3rem;
}
.single_blg_pge_sec_2
  .r_col_wrapper
  .comments_wrapper
  .comments_heading
  > span {
  color: var(--secondary_heading_clr);
  font-size: 1.25rem;
  font-weight: 600;
}
.single_blg_pge_sec_2 .r_col_wrapper .comments_wrapper .comments_heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}
.single_blg_pge_sec_2 .r_col_wrapper .comments_wrapper .comments_heading hr {
  width: 85%;
  height: 1px;
  background-color: #0000001a;
  border: none;
}

.single_blg_pge_sec_2 .comments_wrapper .user_comments_wrapper {
  gap: 1rem;
}
.single_blg_pge_sec_2 .comments_wrapper .users_profile_col {
  align-items: flex-start;
  justify-content: space-between;
  border-bottom: 1px solid #0000001a;
  padding-block: 2rem;
  gap: 1rem;
}
.single_blg_pge_sec_2 .comments_wrapper .profile_info {
  width: 88%;
  gap: 1rem;
}
.single_blg_pge_sec_2 .comments_wrapper .profile_info .user_name_date {
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}
.single_blg_pge_sec_2 .comments_wrapper .user_name_date span:nth-of-type(1) a {
  color: var(--secondary_heading_clr);
  font-size: 1.25rem;
  font-weight: 600;
}
.single_blg_pge_sec_2 .comments_wrapper .user_name_date span {
  color: #878787;
  font-size: 0.875rem;
}
.single_blg_pge_sec_2 .comments_wrapper .profile_info p {
  color: var(--secondary_heading_clr) !important;
  padding-right: 1rem;
}
.single_blg_pge_sec_2 .comments_wrapper .like_nd_reply_wrap {
  width: 170px;
  align-items: center;
  justify-content: space-between;
  gap: 3rem;
}
.single_blg_pge_sec_2 .comments_wrapper .col_like_reply {
  width: 100px;
  align-items: center;
  justify-content: space-between;
}
.single_blg_pge_sec_2 .comments_wrapper .col_like_reply img {
  width: 20px;
  height: 20px;
}
.single_blg_pge_sec_2 .comments_wrapper .col_like_reply span {
  color: var(--secondary_heading_clr);
  font-size: 0.875rem;
}

.single_blg_pge_sec_2 .comments_wrapper .inner_small_row {
  padding-left: 6rem;
}
.single_blg_pge_sec_2 .user_comments_wrapper .inner_small_row:last-of-type {
  border-bottom: none;
}

/*-- lever reply --*/
.single_blg_pge_sec_2 .leave_reply_wrapper {
  gap: 1.5rem;
}
.single_blg_pge_sec_2 .leave_reply_wrapper span {
  color: var(--secondary_heading_clr);
  font-weight: 500;
  font-size: 1.25rem;
}
.single_blg_pge_sec_2 .reply_heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
}
.single_blg_pge_sec_2 .reply_heading hr {
  width: 80%;
  height: 1px;
  background-color: #0000001a;
  border: none;
}
.single_blg_pge_sec_2 .leave_reply_wrapper form {
  border: 1px solid #0000001a;
  width: 100%;
  height: 150px;
  padding: 2rem;
  background-color: #0000000d;
}
.single_blg_pge_sec_2 .leave_reply_wrapper form input {
  outline: none;
  border: none;
  width: 100%;
  background-color: initial;
}
.single_blg_pge_sec_2 .leave_reply_wrapper .submit_btn {
  width: 6rem;
  height: 3rem;
}
.single_blg_pge_sec_2 .social_link_nd_rating {
  width: 64%;
  align-items: center;
  justify-content: space-between;
  gap: 1.5rem;
}
.single_blg_pge_sec_2 .social_links_2 {
  width: 280px;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
.single_blg_pge_sec_2 .social_link_nd_rating .social_links_2 img {
  width: 30px;
  height: 30px;
}
.single_blg_pge_sec_2 .social_link_nd_rating .rating_btn {
  width: 11rem;
  height: 3rem;
}
/* Change color on hover */
.single_blg_pge_sec_2 .social_links_2 a:hover path {
  fill: var(--orange_btn_clr);
}
.single_blg_pge_sec_2 .social_links_2 a:hover circle {
  stroke: var(--orange_btn_clr);
}

/* ----- model_rating ----- */
.model_rating {
  width: 500px;
  background-color: #fff8f5;
  opacity: 0;
  visibility: hidden;
  transition: all 0.2s ease-in-out;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1002;
}
.model_rating.open_rating_model {
  opacity: 1;
  visibility: visible;
}
.model_rating .model_wrapper {
  max-width: 200px;
  width: 100%;
  margin-inline: auto;
  padding-block: 3.5rem;
}
.model_rating .model_content {
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.model_rating .model_content h6 {
  color: var(--secondary_blue_clr);
  font-weight: 400;
}
.model_rating .model_content span {
  color: var(--light_grey_para_clr);
  font-weight: 400;
}
.model_rating .social_links_model {
  align-items: center;
  gap: 0.5rem;
}

/*-- single_blg_pg_sec_2 end --*/

/* single_blg_pg_sec_3 start */
.single_blg_pge_sec_3 table {
  width: 100%;
  table-layout: fixed;
  border-spacing: 0 1.5rem;
}
.single_blg_pge_sec_3 .th_heading {
  text-align: left;
  background-color: var(--secondary_blue_clr) !important;
  height: 56px;
}
.single_blg_pge_sec_3 .th_heading th {
  font-weight: 500;
  color: var(--solid_white_clr);
  text-align: center;
}
.single_blg_pge_sec_3 tbody tr td {
  text-align: center;
  padding: 0.5rem;
}
.single_blg_pge_sec_3 table,
th,
td {
  border-inline: 1px solid #d2d2d2;
  border-collapse: collapse;
}
.single_blg_pge_sec_3 table td span {
  color: var(--secondary_heading_clr);
  font-weight: 400;
  font-size: 0.875rem;
}
.single_blg_pge_sec_3 tr:nth-child(odd) {
  background-color: #f6f6f6;
}
.single_blg_pge_sec_3 tr:nth-child(2):hover {
  background-color: #edeaea;
}
.single_blg_pge_sec_3 .price {
  color: var(--secondary_blue_clr);
  font-size: 1.25rem;
  font-weight: 500;
}
.single_blg_pge_sec_3 .feature {
  color: var(--secondary_heading_clr);
  font-weight: 400;
}
.single_blg_pge_sec_3 tr .learn_more_btn {
  width: 8rem;
  height: 3rem;
}
.single_blg_pge_sec_3 tr td:last-child {
  display: flex;
  align-items: center;
  justify-content: center;
}
.single_blg_pge_sec_3 .sec_3_container hr {
  margin-top: 3rem;
  height: 2px;
  background-color: var(--sub_heading_clr);
  border: none;
  width: 100%;
}
/* single_blg_pg_sec_4 start */
.single_blg_pge_sec_4 .sec_4_container {
  gap: 0.5rem;
}
.single_blg_pge_sec_4 .inner_author_info_col {
  width: 196px;
  align-items: center;
  justify-content: space-between;
}
.single_blg_pge_sec_4 .user_info {
  gap: 0.625rem;
  align-items: flex-start;
}
.single_blg_pge_sec_4 .user_info .auth_name > a {
  color: var(--secondary_heading_clr);
  font-size: 1rem;
  font-weight: 600;
}
.single_blg_pge_sec_4 .user_info span > a {
  color: var(--sub_heading_clr);
  font-size: 0.875rem;
  font-weight: 500;
}
.single_blg_pge_sec_4 .user_img img {
  width: 80px;
  height: 80px;
}
.single_blg_pge_sec_4 .inner_social_links {
  align-items: center;
  width: 100%;
  gap: 0.75rem;
}
.single_blg_pge_sec_4 .sec_4_container p {
  border-top: 1px solid #0000001a;
  padding-top: 0.5rem;
  color: var(--secondary_heading_clr);
}
/* Change color on hover svg */
.single_blg_pge_sec_4 .inner_social_links a:hover path {
  fill: color-mix(
    in hsl shorter hue,
    rgba(225, 211, 17, 0.938) 100%,
    rgba(244, 229, 14, 0.943) 100%
  );
}

/* single_blg_pg_sec_6 start */
.single_blg_pge_sec_6 {
  background-image: url("/assets/search_product_bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.single_blg_pge_sec_6 .sub_container {
  width: 34%;
  height: auto;
  margin: auto;
  gap: 1.5rem;
  padding-block: 7rem;
  align-items: center;
}
.single_blg_pge_sec_6 .sec_6_container h2 {
  color: var(--secondary_blue_clr);
  text-align: center;
}
.single_blg_pge_sec_6 .search_product {
  justify-content: space-between;
  width: 100%;
}
.single_blg_pge_sec_6 .search_product form {
  display: flex;
  align-items: center;
  border: 1px solid var(--sub_heading_clr);
  border-right: none;
  width: 88%;
  padding: 0.4rem 1.5rem;
}
.single_blg_pge_sec_6 form img {
  width: 20px;
  height: 20px;
}
.single_blg_pge_sec_6 input {
  background-color: transparent;
  padding: 0.5rem;
  outline: none;
  border: none;
  width: 230px;
  color: var(--sub_heading_clr);
  font-size: 0.875rem;
  font-weight: 300;
}
.single_blg_pge_sec_6 .search_product .search_btn {
  width: 7rem;
  height: 3rem;
}
.single_blg_pge_sec_6 .need_help {
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 0.625rem;
}
.single_blg_pge_sec_6 .need_help span {
  color: var(--sub_heading_clr);
}

@media screen and (max-width: 480px) {
  .single_blg_pge_sec_2 .sec_2_container {
    flex-direction: column-reverse;
    gap: 4rem;
  }
  .single_blg_pge_sec_2 .r_col_wrapper {
    width: 100%;
    gap: 2rem;
  }
  .single_blg_pge_sec_2 .r_col_wrapper .inner_col_1 {
    padding-bottom: 1.5rem;
  }
  .single_blg_pge_sec_2 .r_col_wrapper .comments_wrapper {
    gap: 2rem;
  }
  .single_blg_pge_sec_2 .r_col_wrapper .inner_col_3 {
    flex-direction: column;
    padding-bottom: 1.5rem;
  }
  .single_blg_pge_sec_2 .r_col_wrapper .inner_col_3 .review_card {
    width: 100%;
  }
  .single_blg_pge_sec_2 .r_col_wrapper .inner_col_4{
    padding-bottom: 1.5rem;
  }
  .single_blg_pge_sec_2
    .r_col_wrapper
    .inner_col_4
    .inner_faq_accordion_wrapper {
    padding: 1rem;
  }
  .single_blg_pge_sec_2 .comments_wrapper .users_profile_col {
    padding-block: 1rem;
  }
  .single_blg_pge_sec_2 .comments_wrapper .inner_small_row {
    padding-left: 4rem;
  }
  .single_blg_pge_sec_2
    .comments_wrapper
    .user_name_date
    span:nth-of-type(1)
    > a {
    font-size: 1rem;
  }
  .single_blg_pge_sec_2 .comments_wrapper .user_name_date span {
    font-size: 0.65rem;
  }
  .single_blg_pge_sec_2 .reply_heading hr {
    width: 50%;
  }
  .single_blg_pge_sec_2 .leave_reply_wrapper form {
    padding: 1rem;
  }
  .single_blg_pge_sec_2 .social_link_nd_rating {
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
  }
  .single_blg_pge_sec_2 .l_col_wrapper {
    width: 100%;
    gap: 3rem;
  }
  .single_blg_pge_sec_2 .l_col_wrapper .inner_summary_wrapper {
    gap: 1rem;
  }
  .single_blg_pge_sec_2 .l_col_wrapper span {
    font-size: 1rem;
  }
  .single_blg_pge_sec_2 .r_col_wrapper .inner_col_2 {
    padding-bottom: 1.5rem;
  }
  .model_rating {
    width: 350px;
  }

  .single_blg_pge_sec_3 .th_heading th {
    font-size: 0.75rem;
  }
  .single_blg_pge_sec_3 .sec_3_container hr{
    margin-top: 1.5rem;
  }
  .single_blg_pge_sec_3 tbody tr td:nth-of-type(1) img {
    width: 26px;
    height: 23px;
  }
  .single_blg_pge_sec_3 tbody tr td:nth-of-type(2) img {
    width: 10px;
    height: 10px;
  }
  .single_blg_pge_sec_3 .price {
    font-size: 1rem;
  }
  .single_blg_pge_sec_3 .feature,
  .single_blg_pge_sec_3 table td span {
    font-size: 0.65rem;
  }
  .single_blg_pge_sec_3 tr .learn_more_btn {
    font-size: 0.5rem;
    height: 2rem;
  }
  .single_blg_pge_sec_3 tr td:last-child {
    transform: translateY(10%);
  }
  .single_blg_pge_sec_6 .search_product {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
  .single_blg_pge_sec_6 .sub_container {
    width: 100%;
    padding-block: 3rem;
  }
  .single_blg_pge_sec_6 .search_product form {
    border: 1px solid var(--sub_heading_clr);
  }
  .single_blg_pge_sec_6 .search_product .search_btn {
    width: 10rem;
  }
}
